.edit-store-wrapper {
    padding: 20px;
    &__form {
        display:flex;
        &__upload {
            margin-right: 50px;
        }
        &__basic-info {
            width: 60%;
            &__address {
                display:flex;
                div {
                    margin-right: 20px;
                }
            }
        }
    }
    .preview-store-image {
        object-fit: cover;
    }

    .upload-progress {
        width: 100%;
    }
    .btn-group {
        margin: 20px 0;
        align-items: center;
        justify-content: flex-end;
        display: flex;
    }
    .btn {
        max-width: 150px;
        &:first-child {
            margin-right: 10px
        }
    }
    .error-msg {
        display:block;
        color: red;
        margin-top: 10px;
    }
}
// override default boostrap modal style
.modal-dialog {
    max-width: 70% !important;
}