.main {
    h1 {
        color: #2f904f;
        padding: 20px 0;
    }
    .delivery-default-msg {
        background: #ffffff;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        height: 400px;
    }
}